* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

body {
  max-width: 800px;
  margin-inline: auto;
}

div {
  text-align: center;
}

#output {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

menu {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.5rem;
}

button {
  width: 100%;
}
