* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

body {
  max-width: 800px;
  margin-inline: auto;
}

main {
  display: grid;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

header * {
  border-bottom: solid black;
}

header > div {
  border-right: solid black;
}

div {
  text-align: center;
}

main > div {
  height: 400px;
  align-content: center;
}

#output {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

menu {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0rem;
}

button {
  width: 100%;
}

#newGameBtn {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
